/* Desktops et laptops ----------- */

.bounce-top{animation:bounce-top .9s both}
@keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}

@media only screen 
and (min-width : 1224px) {

    header {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    #fleche {
        position: relative;
        right: 200px;
        
    }
    
    body {
        margin-top:20px;
        background-color: rgb(98, 192, 255);
        font-family: "Poppins", Arial, sans-serif;
    }
    
    h1 {
        text-align: center;
        font-size: 35px;
        margin-top: 20px;
    }
    
    #conteneurprincipal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        align-items: center;
    }
    
    #conteneurcompetences {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .competence {
        height:640px;
        width: 400px;
        background: rgba(50, 38, 38, 0.5);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 20px;
        text-align: center;
        margin-right: 30px;
    }
    
    .competence > p {
        margin-top: 10%;
    }

    .competence:nth-child(1) > img {
        width: 272px;
    }

    .competence:nth-child(2) > img {
        width: 300px;
        margin-top: 106px;
    }
    
    #screeninsta {
        position: relative;
        margin-top: 30px;
    }
    
    #video {
        position: relative;
        margin-top: 33.3333333%;
    }
    
    #communication {
       
        height: 640px;
        width: 991px;
        background: rgba(50, 38, 38, 0.5);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 20px;
        text-align: center;
        margin-top: 25px;
    }
    
    #communication > p {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}