/* Tablettes (portrait) ----------- */
@media only screen 
and (min-width : 720px) 
and (max-width : 1080px) 
and (orientation : portrait) {
    
    header {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }

    #fleche {
        position: relative;
        right: 50px;
        width: 150px;
    }
    
    body {
        background-color: rgb(98, 192, 255);
        font-family: "Poppins", Arial, sans-serif;
    }
    
    h1 {
        text-align: center;
        font-size: 96px;
        margin-top: 30px;
        margin-right: 150px;
    }
    
    #conteneurprincipal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 50px;
        align-items: center;
    }
    
    #conteneurcompetences {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        
    }
    
    .competence {
        height:900px;
        width: 580px;
        background: rgba(50, 38, 38, 0.5);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 20px;
        text-align: center;
        
    }
    
    .competence > p {
        margin-top: 10%;
    }

    .competence:nth-child(1) > img {
        width: 400px;
    }

    .competence:nth-child(2) > img {
        width: 580px;
        margin-top: 106px;
    }
    
    #screeninsta {
        position: relative;
        margin-top: 30px;
    }
    
    #video {
        position: relative;
        margin-top: 33.3333333%;
    }
    
    #communication {
        margin-top: 20px;
        display: flex;
        height:540px;
        width: 820px;
        background: rgba(50, 38, 38, 0.5);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 20px;
        text-align: center;
    }
    
    #communication > p {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #communication > img {
        width: 680px;

    }
}