@media only screen
and (orientation: landscape) {
    * {
        margin: 0px;
        padding: 0px;
    }
    
    h1 {
        text-align: center;
        font-size: 35px;
        font-family: "Poppins", Arial, Helvetica, sans-serif
    }
    
    p {
        text-align: center;
    }
    body{
        height: 100%; 
        font-family: 'Noto Sans', sans-serif;
      background-color: #ec576b; 
        }
    
    #letableau {
        margin-top: 30px;
        width: 2500px;
    }
    
    #conteneurprincipal {
        margin-top: 20px;
        margin-left: 24%;
        margin-right: 24%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

}

.bounce-top{animation:bounce-top .9s both}
@keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}
